@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #621402;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../img/bg.jpg") no-repeat center top/cover;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header__logo {
  height: 30px;
  width: 30px;
  margin-right: 57px;
}

.header-nav {
  margin-left: 0;
  margin-right: auto;
}

.header-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav__item {
  margin-right: 25px;
  font-size: 14px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-login {
  display: flex;
  align-items: center;
}

.header-login__text {
  font-size: 16px;
  margin-right: 11px;
}

.header-login__img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

.hero-main {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  flex-basis: 50%;
}

.hero__subtitle {
  font-size: 24px;
  opacity: .5;
}

.hero__title {
  margin-top: 11px;
  margin-bottom: 23px;
  font-size: 36px;
}

.hero__text {
  max-width: 570px;
  font-size: 16px;
  line-height: 150%;
}

.hero-extra {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.hero-time {
  display: flex;
  align-items: center;
  margin-right: 34px;
}

.hero-time__icon {
  height: 20px;
  width: 20px;
  margin-right: 14px;
}

.hero-time__text {
  font-size: 16px;
}

.hero-rating {
  display: flex;
  align-items: center;
}

.hero-rating__icon {
  height: 17px;
  width: auto;
  margin-right: 12px;
}

.hero-rating-text {
  display: flex;
  align-items: end;
}

.hero-rating__big {
  font-size: 24px;
  font-weight: 700;
}

.hero-rating__small {
  font-size: 16px;
}

.hero-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  margin-left: 50px;
}
