@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #621402;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url("../img/bg.jpg") no-repeat center top/cover;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header__logo img {
  height: 30px;
  width: 30px;
}

.header-nav {
  margin-left: 57px;
  margin-right: auto;
}

.header-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav__item {
  margin-right: 25px;
  font-size: 14px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-login {
  display: flex;
  align-items: center;
}

.header-login__text {
  font-size: 16px;
  margin-right: 11px;
}

.header-login__img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

.hero-main {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  flex-basis: 50%;
}

.hero__subtitle {
  font-size: 24px;
  opacity: .5;
}

.hero__title {
  margin-top: 11px;
  margin-bottom: 23px;
  font-size: 36px;
}

.hero__text {
  max-width: 570px;
  font-size: 16px;
  line-height: 150%;
}

.hero-extra {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.hero-time {
  display: flex;
  align-items: center;
  margin-right: 34px;
}

.hero-time__icon {
  height: 20px;
  width: 20px;
  margin-right: 14px;
}

.hero-time__text {
  font-size: 16px;
}

.hero-rating {
  display: flex;
  align-items: center;
}

.hero-rating__icon {
  height: 17px;
  width: auto;
  margin-right: 12px;
}

.hero-rating-text {
  display: flex;
  align-items: end;
}

.hero-rating__big {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}

.hero-rating__small {
  font-size: 16px;
  padding-bottom: 2px;
}

.hero-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  margin-left: 50px;
}

.hero-player__btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.hero-player__btn img {
  height: 100px;
  width: 100px;
  transition: .2s ease-out;
}

.hero-player__btn img:hover {
  transform: scale(1.07);
}

.hero-params {
  margin-top: 68px;
  padding-top: 50px;
  padding-bottom: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.hero-params__title {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

.hero-params-date-cards {
  display: flex;
  align-items: center;
}

.hero-params-date__card {
  height: 90px;
  width: 90px;
  padding: 9px 0;
  border-radius: 5px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}

.hero-params-date__card:last-child {
  margin-right: 0;
}

.hero-params-date__card:hover {
  cursor: pointer;
}

.hero-params-date__mont {
  font-size: 16px;
  text-transform: uppercase;
}

.hero-params-date__date {
  font-size: 30px;
  font-weight: 700;
}

.hero-params-date__day {
  font-size: 16px;
  text-transform: uppercase;
}

.hero-params-place__input {
  height: 60px;
  width: 470px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 18px;
  font-size: 16px;
  margin-top: 13px;
}

.hero-params-place__input option {
  color: #000;
}

.hero-params-time__input {
  height: 60px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 18px;
  font-size: 16px;
  margin-top: 13px;
}

.hero-params-time__input option {
  color: #000;
}
